* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Gilroy', sans-serif;
  
}

body::selection{
    background-color: black;
    color: white;
}
main{
    position: relative;
    overflow: hidden;
}

.section{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #f1f1f1;
}
canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
    z-index: 9;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 0px 30px;
}
nav>h3{
    font-weight: 400;
    font-size: 22px;
}
nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    border: none;
}
#loop{
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
}
#loop>h1{
    font-weight: 400;
    animation: anim 15s linear  infinite  ;
}
#loop>h1>span{
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
    font-weight: 500;
}
@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* section-1 */
#section-1>h3{
    position: absolute;
    top: 59%;
    font-weight: 400;
    color: #7c7c7c;
    left: 1%;
}
#section-1>h4{
    position: absolute;
    top: 66%;
    left: 20%;
    font-weight: 500;
}

/* section-2 */
#section-2>#left-text{
    position: absolute;
    top: 30%;
    left: 8%;
}
#section-2>#left-text>h3{
    font-weight: 400;
    color: #7c7c7c;
}
#section-2>#left-text>h1{
    line-height: 1.5;
    font-size: 50px;
}
#section-2>#right-text{
    position: absolute;
    top: 50%;
    right: 7%;
    text-align: end;
}
#section-2>#right-text>h1{
    font-size: 50px;
    line-height: 1.5;
}
#section-2>#right-text>h3{
    color: #7c7c7c;
    font-weight: 400;
}

/* section-3 */
#section-3>#text1{
    position: absolute;
    top: 30%;
    left: 7%;
}
#section-3>#text1>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#section-3>#text1>h1{
    font-size: 60px;
    line-height: 1.5;
}
#section-3>#text2{
    position: absolute;
    top: 55%;
    right: 2%;
    text-align: end;
}
#section-3>#text2>p{
    color: #7c7c7c;
    font-weight: 400;
}

/* section-4 */
#section-4>#text3{
    position: absolute;
    top: 40%;
    right: 7%;
    text-align: end;
}
#section-4>#text3>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#section-4>#text3>h1{
    font-size: 70px;

}

