*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
#main{
    margin-top: 30px;
    background-color: #797978;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10vh;
    height:90vh;
    width: 80vh;
}
#main>h1{
  font-weight: 500;
  text-decoration: underline;
}
#submit{
    padding: 5px 50px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 30px;
    border: none;
}
#submit:hover{
    background-color:#797978;
    border: 1px solid black;
}
#instructions{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    gap:2vh;
}
#instructions>h3{
    text-decoration: underline;
    font-weight: 500;
}
#result{
    background-color: aliceblue;
    margin-top: 20px ;
}
#outcome{
    background-color: rgba(240, 251, 255, 0.467);
    margin-top: 20px ;
    color: red;
}
