*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html, body{
    height: 100%;
    width: 100%;
    
}


main{
    overflow: hidden;
    position: relative;
     background-color: antiquewhite;
}
.section{
    height: 100vh;
    width: 100%;


}
#section-1{
   
}
nav{
    display: flex;
    padding: 0vw 2vw;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40vh;
}
#nav-first{
 width: 80%;
 /* background-color: yellow; */
}
#nav-first h1{
    font-size: 7vw;
    font-family: 'Gilroy-Bold', sans-serif; 
    line-height: 6.5vw;
}
#nav-first h1 span{
    display: inline-block;
 text-transform: uppercase;
 font-size: 5vw;
}
#nav-first h3{
 text-transform: uppercase;
 font-size: 1vw;
 font-weight: 500;
}
#nav-second {
 display: flex;
 flex-direction: column;
 width: 10%;
 align-items: center;
 /* background-color: yellow; */
 gap:200px;
 
}
#nav-second a{
 text-decoration: none;
 color: white;
 background-color: black;
 padding: 5px 10px;
 border-radius: 15px;
 display: inline-block;

}
#nav-second #scroll{
    font-size: 1.1vw;
    text-transform: uppercase;
}
#nav-second #scroll i{
  vertical-align: middle;
  font-size: 1.7vw;
}
#section-1-img{
    height: 55vh;
    width: 100%;
    /* background-color: red; */
    background-image: url('bg-img.jpg');
    background-position: center;
    background-size: cover;
}
#section-2{
    font-family: 'Gilroy-Medium', sans-serif;
    padding: 0 2vw;
}
#section-2 #first-part{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 20px;
   border-bottom: 2px solid black;

}
#section-2 #first-part #first-left h2{
   height: 100%;
    width: 75%;
    /* background-color: red; */
    font-size: 3.3vw;
  

}
#section-2 #first-part #first-right{
  height: 100%;
    width: 40%;
    /* background-color: rgb(0, 4, 255); */
     display: flex;
   justify-content: space-around;
   align-items: flex-start;
   flex-direction: column;
   padding: 0 3vw;
   border-left:2px solid black
  

}
#section-2 #first-part #first-right h3{
   font-size: 1.5vw;
  

}
#section-2 #first-part #first-right #icons i{
 font-size: 1.5vw;
 margin-right: 2vw;
  

}
#section-2 #second-part{
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding-top:1vw ;
}
#section-2 #second-part #second-left{
    height: 100%;
    width: 30%;
    /* background-color: rgb(0, 255, 123); */
    border-right: 2px solid black;
    padding-right: 2vw;
}
#section-2 #second-part #second-left #second-left-top{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(24, 47, 216); */
}
#section-2 #second-part #second-left #second-left-top h3{
    font-size: 1vw;
    font-weight: 100;
}
#section-2 #second-part #second-left #second-left-top i{
    font-size: 2vw;
}
#section-2 #second-part #second-right {
  height: 100%;
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;

}
#section-2 #second-part #second-right .grid{
  height: 50%;
  width: 100%;
  /* background-color: rgb(0, 255, 98); */
  display: flex;
  justify-content: center;
   padding-bottom: 3vw ;
   
  
}
#section-2 #second-part #second-right .grid #grid-left{
  height: 100%;
  width: 45%;
  /* background-color: rgb(0, 110, 255); */
  display: flex;
  flex-direction: column;
  border-right:2px solid black ;
  padding: 0.5vw 1vw;
  border-bottom: 2px solid black;
  gap:0.5vw;
}
.grid h2{
    font-size: 2vw;
    white-space: nowrap;
}
.grid p{
    font-size: 1vw;
    /* text-align: center; */
}

#section-2 #second-part #second-right .grid
#grid-right{
 height: 100%;
  width: 45%;
  /* background-color: rgb(255, 0, 221); */
   display: flex;
  flex-direction: column;
  padding: 0.5vw 1vw;
  border-bottom: 2px solid black;
  gap:0.5vw;

}


#section-2 #third-part{
    height: 9vh;
    width: 100%;
    /* background-color: azure; */
    overflow: hidden;
}
#section-2 #third-part #move{
   white-space: nowrap;
}
#section-2 #third-part #move #moving-in{
   white-space: nowrap;
   display: inline-block;
   animation: anim 2s linear  infinite  ;
}
#section-2 #third-part #move #moving-in h2{
   white-space: nowrap;
   display: inline-block;
   margin-right: 2vw;
   font-size: 3vw;
}
@keyframes anim {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

