  *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html,body{
        height: 100%;
        width: 100%;
        font-family: system-ui, sans-serif;
    }
    #main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #main>h2{
        padding-top: 15vh;
    }
    #box-container{
    margin-top: 5vh;
    margin-bottom: 9vh;
     display: flex;
     gap: 10px;

    }
    .box{
        height: 120px;
        width: 120px;
        border: 2px solid black;
    }

    #main h3{
        width: 400px;
        font-size: 20px;

    }