*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #474747;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white
}
h2{
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: #161616;
  text-align: center;
  padding: 5px;
  margin-bottom: 30px;
}
p{
  font-size: 15px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  line-height: 25px;
}
#guess-game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:6vh;
}
h1{
  color:white;
  text-decoration: underline;
  font-size: 40px;
}
#input-guess{
  height: 8vh;
  width: 40vw;
  background-color: aliceblue;
  border: 5px solid gray;
}
#submit{
  padding: 8px 50px;
  background-color: #161616;
  color: white;
  font-size: 20px;
}
#hint{
  color: red;
  background-color: aliceblue;

}
#result{
  color: red;
  background-color: aliceblue;

}