/* New Machina font style */ 
 @font-face {
  font-family: "Neue Machina";
  src: url("https://db.onlinewebfonts.com/t/82b778d1b069157bf6b2e32dc4e1e3f1.woff2") format("woff2"),
       url("https://db.onlinewebfonts.com/t/82b778d1b069157bf6b2e32dc4e1e3f1.woff") format("woff"),
       url("https://db.onlinewebfonts.com/t/82b778d1b069157bf6b2e32dc4e1e3f1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
 font-family: "Neue Machina", sans-serif;
 overflow-x:hidden ;
    
}




section{
    height:110vh;
    width: 100%;
    /* background-color: aquamarine; */
    position: relative;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    padding: 20px 40px;
}
nav h1{
  font-size: 50px;
}
nav h1 i{
    rotate:45deg;
    display: inline-block;
}

#actions{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:60px
}
#actions h2{
    font-size: 28px;
    font-weight: 500;
}
#actions button{
    background-color: transparent;
    border:none;
    padding: 20px 60px;
    border:1px solid rgb(52, 51, 51);
    border-radius: 8px;
    white-space: nowrap;
    font-size: 20px;
}


#center{
    height: 85vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    gap:10%;
    padding: 5%;
}
#center-part1{
    min-height: inherit;
    width: 50%;
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap:9%
}
#center-part1 h2{
    font-size: 47px;
    font-weight: 700;
}
#center-part1 p{
    font-size: 17px;
    font-weight: 300;
}
#center-part1 button{
   background-color: black;
   color: white;
    border:none;
    padding: 20px 80px;
    border-radius: 8px;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;
}
#center-part2{
    height: inherit;
    /* width: 50%; */
    /* background-color: rgb(0, 106, 181); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height: 70%;
}
#center-part2 img{
    width: 90%;
    object-fit: contain;
    object-position: center;
   
}
#section1-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #9AE975; */
    margin-top: -90px;
}

#section1-bottom img{
    height:70px;
}
.section2{
    height: 140vh;
    width: 100%;
    /* background-color: rgb(208, 150, 150); */
    position: relative;
}
#services{
    width: 70%;
    display: flex;
    /* background-color: yellow; */
    align-items: center;
    gap:60px;
    padding:10px 113px

    
}
#services h2{
    font-size: 40px;
    background-color: #9AE975;
    padding:5px;
    border-radius: 5px;
}
#services P{
    font-size: 17px;
    padding:5px;
}
.services-card-container{
   height: 86%;
   width: 100%;
   padding: 40px 100px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

}
.service-card{
    width: 45%;
    height: 45vh;
    /* background-color: red; */
    border-radius: 50px;
    flex-shrink:0 ;
    border: 3px solid black;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 1);
    padding: 50px;
    display: flex;
    gap:60px
}
.service-card-pt1 {
 height: 100%;
 width: 50%;
  
}
.service-card-pt1 h2{
  background-color: #9AE975;
  font-size: 25px;
  
}
.service-card-pt1 h4{
    white-space: nowrap;
  font-size: 25px;
}
.service-card-pt1 h4 i{
  background-color: white;
  padding: 5px;
  border-radius:50% ;
  font-size: 30px;
  margin-right: 7px;
}
.service-card-pt1{
  /* background-color: #9AE975; */
  display: flex;
  flex-direction: column ;
  align-items: top;
  justify-content: space-between;
}
.service-card-pt2{
    height:100%;
    width: 50%;
  /* background-color: #000000; */
  background-image: url('Illustration-1.png');
  background-position: center;
  background-size: contain;
}
.black{
    background-color: rgba(0, 0, 0, 0.808);
}
.black h2{
    background-color: rgba(255, 255, 255, 0.771);
}
.black h4 {
 
  color:rgba(255, 255, 255, 0.744);
}
.black h4 i {
  background-color: white;
  color: black;
}


/*-------------------------------------------------------------------------*/
.section3{
    height: 120vh;
    width: 100%;
    /* background-color: red; */
    padding: 50px 100px;
}
#section3-header{
    display: flex;
    height: 40vh;
    padding:60px ;
    gap:40px;
    background-color:rgba(215, 215, 215, 0.69);
    padding: 30px;
    border-radius: 50px;
}
.header-pt-1{
    height: 100%;
    width: 70%;
    /* background-color: #9AE975; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: top; */
    gap:20px;

}
.header-pt-1 h2{
    font-size: 30px;
}
.header-pt-1 p{
    font-size: 18px;
}
.header-pt-1 button{
     background-color: black;
    border:none;
    padding: 10px 0px;
    width:45%;
    border:1px solid gray;
    border-radius: 8px;
    white-space: nowrap;
    font-size: 23px;
    color: white;
}
.header-pt-2{
    height: 100%;
    width: 20%;
    /* background-color: #51ff00; */
    background-image: url('Illustration-1.png');
    background-size: contain;
    background-position: center;
}
#section3-center{
    display: flex;
    align-items: center;
    height: 20vh;
    gap:20px;
    padding: 30px;
    border-radius: 50px;
}
#section3-center{
    display: flex;
    align-items: center;
    height: 20vh;
    gap:30px;
    padding: 30px;
    border-radius: 50px;
    margin: 50px 0px;
}
#section3-center h2{
    white-space: nowrap;
    font-size: 25px;
    background-color: #9AE975;
    padding: 5px;
    border-radius: 3px;
}
#section3-center p{
    font-size: 17px;    
}
#section3-footer{
     display: flex;
    height:35vh;
    padding:60px ;
    gap:40px;
    background-color:rgba(0, 0, 0, 0.89);
    padding: 30px;
    border-radius: 50px;
}
.footer{
    height: 100%;
    width: 30%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:40px;
    border-right: 4px solid white;
}
.footer p{
      font-size: 17px; 
      color: white;
}
.footer h4{
      font-size: 17px; 
      color: #9AE975;
}
.footer h4 i {
  font-size: 24px;
}