*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2{
    color: white;
    padding-top: 200px;
    padding-bottom:50px ;
}
#clock{
  background-color: rgb(255, 170, 0);
  height: 50px;
  width: 160px;
  border-radius:20px ;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 18px;
}